{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Bootstrap core CSS -->
        <link href="../../static/dados/bootstrap/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="../../static/dados/bootstrap/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

        <!-- Plugin CSS -->
        <link href="../../static/dados/bootstrap/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

        <!-- Custom styles for this template -->
        <link href="../../static/dados/bootstrap/css/freelancer.min.css" rel="stylesheet">

        {% load static %}
        <script src="{% static "js/jquery.js" %}"></script>
        <script src="{% static "js/rango-jquery.js" %}"></script>
        <!--<script type="text/javascript" src="{{ STATIC_URL }} /static/js/jquery.js">
        </script>--> 

        <title>
            {% block title %}{% endblock %}
        </title>

    </head>
    
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
        <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="../../">Regulariza Viçosa - MG</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="../sobre/">Sobre</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="../contato/">Contato</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'dados:referencias' %}">Referências</a>
            </li>
            </ul>
        </div>
        </div>
    </nav>

    <script>
        function maisAPPS() {
            alert("As áreas de proteção permanente (APPs) são áreas ambientalmente protegidas por serem frágeis e essenciais para a manutenção do equilíbrio ambiental. São áreas próximas aos cursos d’água, como nascentes, rios e mananciais, áreas de topo de morro, áreas mais declivosas, áreas de vegetação nativa, dentre outras. Essas áreas quando degradadas ou ocupadas são um risco para o meio ambiente e o próprio ser humano, pois podem ocorrer deslizamentos de terra, enchentes, secas e várias outras consequências. Por isso é importante que seja preservada de acordo com as leis vigentes");
        }
    </script>

    <script>
        function maisZRU(){
            alert("A Zona Rural - ZRU - é destinada às atividades agrícolas, pecuárias, extrativistas, agroindustriais e florestais. Serão permitidas outras atividades nesta zona, desde que compatíveis com a preservação do meio ambiente e o desenvolvimento das atividades agrícolas e pecuárias, ouvidos o COMPLAN e o CODEMA. Na Zona Rural, não serão permitidos parcelamentos para fins urbanos.");
        }
    </script>
    {% block content %}
    {% endblock %}
 
</html>



       
