{% extends 'dados/base.html' %}

{% block content %}

{% block title %}Página Inicial{% endblock %}
   
<div class="container">
    <br><br><br><br><br><br>
        
    {% if a == 'S' %}
    <p class="lead">O proprietário do imóvel deve fazer o pedido para o SAAE prover a ligação do imóvel que será executada 
        depois que a obra do projeto já estiver concluída devendo o dono pagar uma taxa que deverá ser consultada junto ao 
        SAAE e apresentar os seguintes documentos:</p>
    <ol class="lead">
        <li>Certidão de numeração fornecida pelo Setor de Cadastro da Prefeitura ou 
            outro documento que vier a substituí-lo;</li> 
        <li>CPF/CNPJ;</li>
        <li>cópia da planta de situação e da planta baixa do projeto arquitetônico 
            aprovado pela municipalidade, no caso de prédios com subsolo e/ou acima de 3
            (três) pavimentos (10 m de altura) e área superior ou igual a 300 m<sup>2</sup>.</li>
        <li>cópia da planta de situação e da planta baixa do projeto arquitetônico aprovado pela municipalidade, no caso de 
            prédios com subsolo e/ou acima de 3(três) pavimentos (10 m de altura) e área superior ou igual a 300 m<sup>2</sup>. </li>
    </ol>
    <p class="lead">Parágrafo Único - O ramal predial para construção ou definitivo será dimensionado
        Parágrafo Único - O ramal predial para construção ou definitivo será dimensionado
        pelo SAAE. </p>
    <p class="lead">A ligação de água e/ou esgoto está sujeita ao pagamento de valores, estes devem 
        ser orçados junto ao SAAE e podem ser pagos em parcela única ou em até 10 parcelas 
        ndo necessário, para a concessão da ligação, o pagamento da primeira parcela.</p>
    {% elif a == 'N' %}
    <p class="lead">O seu terreno não possuí acesso à rede de coleta de esgoto do SAAE por isso recomendamos entrar em 
        contato com o mesmo para melhores informações. Existe também formas de tratamento individuais, confira na opção 
        OUTRAS FORMAS DE TRATAMENTO na página anterior.</p>
    {% else %}
    <p class="lead">O seu terreno não possuí informações sobre a rede de coleta de esgoto do SAAE de acordo com nosso banco de dados, por isso recomendamos entrar em 
        contato com o mesmo para melhores informações. Existe também formas de tratamento individuais, confira na opção 
        OUTRAS FORMAS DE TRATAMENTO na página anterior</p>            
    {% endif %}              
        
    <div><br>
        {% if l != "ZR" %}
        <a href="{% url 'dados:tela14' %}">
            <button type="button" class="btn btn-danger btn-lg">Voltar</button>
        </a>
        {% else %}
        <a href="{% url 'dados:tela8_1' %}">
            <button type="button" class="btn btn-danger btn-lg">Voltar</button>
        </a>
        {% endif %}  
    </div><br>
{% endblock %}
