{% extends 'dados/base.html' %}

{% block content %}

{% block title %}Página Inicial{% endblock %}
   
    {% if op == "Vou iniciar uma contrução"%}
    <div class="container">
        <br><br><br><br><br>
        {% if c == "4" or c == "5"%}
        <h3 class="js-scroll-trigger text-left">Documentação para casas e prédios</h1> <br>

        <p class="lead">Caso o seu terreno esteja localizado próximo a um rio, nascente, 
            manancial, em topo de morro, áreas muito declivosas ou em área que contenha 
            vegetação é preciso consultar o Órgão Ambiental da cidade antes de iniciar a 
            construção, pois pode estar localizado em uma área de proteção permanente (APP)! 
            Em Viçosa o órgão ambiental responsável é o CODEMA localizado na Rua Gomes Barbosa, 
            nº 803, Centro, Viçosa/MG. Telefones: 3891-3714 | 3891-7648.
        </p>

        <p class="lead">Clique aqui para saber mais sobre as APPs!</p>


        <p class="lead">Os documentos a serem requisitados no IPLAM também podem ser obtidos no 
            site:</p>
        <p><a href="http://www.vicosa.mg.gov.br/detalhe-da-materia/info/instituto-de-planejamento-e-meio-ambiente-do-municipio-iplam/11028">
            http://www.vicosa.mg.gov.br/detalhe-da-materia/info/instituto-de-planejamento-e
            -meio-ambiente-do-municipio-iplam/11028</a>
        </p>
        {% endif %}
    {% else %}
    <br><br><br><br>
    <h1>Ja tem residencia</h1>
    {% endif %}
    <div>
        <a href="{% url 'dados:tela8' %}">
            <button type="button" class="btn btn-danger btn-lg">Voltar</button>
        </a>
    </div>
{% endblock %}
