{% extends 'dados/base.html' %}

{% block content %}

{% block title %}Página Inicial{% endblock %}
   
    <div class="container">
        <br><br><br><br><br>
        {% if opcao.possui_construcao == "Vou iniciar uma construção" %}
            {% if opcao.tela == "4" or opcao.tela == "5" %}
            <h3 class="js-scroll-trigger text-left">Documentação para casas e prédios</h1> <br>
            {% else %}
            <h3 class="js-scroll-trigger text-left">Documentação para loteamento</h1> <br>
            {% endif %}
        
        {% endif %}
        <p class="lead">Caso o seu terreno esteja localizado próximo a um rio, nascente, 
            manancial, em topo de morro, áreas muito declivosas ou em área que contenha 
            vegetação é preciso consultar o Órgão Ambiental da cidade antes de iniciar a 
            construção, pois pode estar localizado em uma área de proteção permanente (APP)! 
            Em Viçosa o órgão ambiental responsável é o CODEMA localizado na Rua Gomes Barbosa, 
            nº 803, Centro, Viçosa/MG. Telefones: 3891-3714 | 3891-7648.
        </p>

        <button onClick="maisAPPS()" class="btn btn-success">Clique aqui para saber mais sobre as APPs!</button>

        <br><br>
        <p class="lead">Os documentos a serem requisitados no IPLAM também podem ser obtidos no 
            site:</p>
        <p class="lead"><a href="http://www.vicosa.mg.gov.br/detalhe-da-materia/info/instituto-de-planejamento-e-meio-ambiente-do-municipio-iplam/11028">
            http://www.vicosa.mg.gov.br/detalhe-da-materia/info/instituto-de-planejamento-e
            -meio-ambiente-do-municipio-iplam/11028</a>
        </p>
    <ul>
        {% if tela == "4" or tela == "5" %}
        <li class="lead">
            <a href="{% url 'dados:doc_saae' %}">Documentação SAAE</a>
        </li>
        <li class="lead">
            <a href="{% url 'dados:proj_arq' %}">Análise de Projetos Arquitetônicos</a>
        </li>
        <li class="lead">
            <a href="{% url 'dados:emissao_alvara_const' %}">Emissão alvará de construção</a>
        </li>
        <li class="lead">
            <a href="{% url 'dados:emissao_habitasse' %}">Emissão de habite-se</a>
        </li>
        {% else %}
        <li class="lead">
            <a href="{% url 'dados:p_solo' %}">Diretrizes para o Parcelamento do solo</a>
        </li>
        <li class="lead">
            <a href="{% url 'dados:p_solo_f' %}"> Diretrizes para Projetos de parcelamento do solo em condomínios horizontais fechados
                </a>
        </li>
        <li class="lead">
            <a href="{% url 'dados:emissao_a_lot' %}">  Emissão de Licença Ambiental de Loteamento
                </a>
        </li>
        <li class="lead">
            <a href="{% url 'dados:alvara_urb' %}"> Do Alvará de Urbanização para o Projeto de Loteamento
                </a>
        </li>
        {% endif %}
        <li class="lead">
            <a href="{% url 'dados:corte_arvore' %}">Emissão de Autorização de Autorização para corte de árvores em área urbana</a>
        </li>
        <li class="lead">
            <a href="{% url 'dados:emissao_terraplanagem' %}">Emissão de Alvará de Movimentação de Terra</a>
        </li>
    </ul>
    
    <br><br>
    <div>
        {% if l != "ZRU" %}
        <a href="{% url 'dados:tela8' %}">
            <button type="button" class="btn btn-danger btn-lg">Voltar</button>
        </a>
        {% else %}
        <a href="{% url 'dados:tela8_1' %}">
            <button type="button" class="btn btn-danger btn-lg">Voltar</button>
        </a>
        {% endif %}
    </div><br>
    </div>
    
{% endblock %}
