{% extends 'dados/base.html' %}

{% block content %}

{% block title %}Página Inicial{% endblock %}
   
    <div class="container">
        <br><br><br><br><br>
        <h3 class="js-scroll-trigger text-left">Documentação para Loteamentos</h1> <br>

        <p class="lead">Aviso: Caso o seu terreno esteja localizado próximo a um rio, nascente, manancial, em topo de morro, áreas muito declivosas ou em área que contenha vegetação é preciso consultar o Órgão Ambiental do municipal antes de iniciar a construção, pois pode estar localizado em uma área de proteção permanente (APP)! Em Viçosa, o órgão ambiental responsável é o IPLAM localizado na Rua Dr. Milton Bandeira, nº 380, Viçosa Shopping - 3º piso, Centro Telefone: (31) 3892-4360.
        </p>

        <button onClick="maisAPPS()" class="btn btn-success">Clique aqui para saber mais sobre as APPs!</button>

        <br><br>
        <p class="lead">Os documentos a serem requisitados no IPLAM também podem ser obtidos no 
            site:</p>
        <p class="lead"><a href="http://www.vicosa.mg.gov.br/detalhe-da-materia/info/instituto-de-planejamento-e-meio-ambiente-do-municipio-iplam/11028">
            http://www.vicosa.mg.gov.br/detalhe-da-materia/info/instituto-de-planejamento-e
            -meio-ambiente-do-municipio-iplam/11028</a>
        </p>
    <br><br>
    <div>
        <a href="{% url 'dados:docconstrucao' %}">
            <button type="button" class="btn btn-danger btn-lg">Voltar</button>
        </a>
    </div><br>
      
    
{% endblock %}
