{% extends 'dados/base.html' %}

{% block content %}

{% block title %}Página Inicial{% endblock %}
   
<div class="container">
    <br><br><br><br><br>

    <p class="lead">Caso você queira já iniciar com o processo de construção você pode já 
        entrar com a Emissão de Alvará de Construção:</p>
    <p class="lead">Antes de iniciar uma obra é necessário emitir o Alvará de Construção
        </p>
    <p class="lead">Descrição:</p>
    <p class="lead">Emissão de alvará de construção no território urbano do município de Viçosa (MG).
        </p>
    <p class="lead">Documentos:
        </p>
    <p class="lead"></p>
    
    <ul class="lead">
        <li>Certidão de Registro de Imóveis – CRI revalidado;</li>
        <li>Certidão Negativa de Débitos Municipais – CND do lote;</li>
        <li>Cópia do RG ou documento similar de identificação;</li>
        <li>Pessoa Jurídica: Cópia do contrato social da empresa (no caso de mais de um 
            responsável legal todos deverão assinar o projeto arquitetônico ou quadro de áreas 
            ou apresentar procuração nomeando o responsável por movimentar o processo junto ao 
            IPLAM);
            </li>
        <li>Anotação de responsabilidade técnica (ART) ou Registro de 
            responsabilidade técnica (RRT);</li>
        <li>ISSQN dos responsáveis técnicos;</li>
        <li>Projeto arquitetônico completo;</li>
        <li>Quadro de áreas (modelo IPLAM) (facultativo para os casos de edificações 
            destinadas ao uso residencial unifamiliar);</li>
        <li>Laudo técnico referente à elaboração do projeto do sistema de prevenção e combate a 
            incêndio e pânico, acompanhado de ART ou RRT (exceto para edificações destinadas ao uso 
            residencial unifamiliar);</li>
        <li>Protocolo de análise de projeto de prevenção e combate a incêndio e pânico junto ao 
            Corpo de Bombeiros Militar de Minas Gerais (exceto para edificações destinadas ao uso 
            residencial unifamiliar);</li>
        <li>Declaração assinada pelo responsável técnico pela execução civil e pelo proprietário 
            sobre o cumprimento das exigências das leis nº. 2.496/15 e nº. 2.573/16 que trata do 
            reaproveitamento da água proveniente das chuvas (edificações a serem executadas ou ainda 
            em fase de construção destinadas ao uso residenciais, comerciais e industriais com 02 
            ou mais pavimentos ou 01 pavimento cm área superior a 100m<sup>2</sup>);</li>
        <li>Relatório de Impacto Urbano e de vizinhança executado por equipe multidisciplinar, 
            acompanhado de ART ou RRT (para os casos descritos no Art. 6 da lei municipal nº. 1.420/00);</li>
        <li>Projeto completo de contenção, devidamente dimensionado contendo minimamente: planta 
            de implantação vistas cortes e indicação do perfil natural do lote, sistema de drenagem 
            e tipo de estrutura e fundação a serem utilizadas, acompanhado de ART (para projeto que 
            envolvam movimentação de terra ou com previsão de pavimento subsolo);</li>
        <li>Declaração informando que o projeto atende às exigências construtivas do condomínio 
            (nos casos de edificações executadas em condomínios);</li>
        <li>Cópia do comprovante de pagamento do Auto de infração emitido pelo IPLAM.</li>
    </ul>
    <p class="lead">Prazo para prestação do serviço:</p>
    <p class="lead">30 dias úteis.</p>
    <p class="lead">Taxas:</p>
    <p class="lead">0,04 UFM POR M<sup>2</sup></p>
    <p class="lead">[UFM= R$ 49,09 (2018)]</p>
    </p>
    <div><br>
        <a href="{% url 'dados:docconstrucao' %}">
            <button type="button" class="btn btn-danger btn-lg">Voltar</button>
        </a>
    </div><br>
{% endblock %}
 
