{% extends 'dados/base.html' %}

{% block content %}

{% block title %}Página Inicial{% endblock %}
   
<div class="container lead">
    <br><br><br><br>
    <h3 class="js-scroll-trigger text-left">Movimenta&ccedil;&atilde;o de Terra (Terraplanagem)</h3><br>

<p style="text-align: center;"><span style="font-weight: 400;">Seu Empreendimento ir&aacute; requerer movimento de terra? Se sim:</span></p>
<p style="text-align: center;">&nbsp;</p>
<p><strong><em>Para movimentos de terra </em></strong><strong><em>menores</em></strong><strong><em> que </em></strong><strong><em>200 m3</em></strong><strong><em>:</em></strong></p>
<h5><strong>PROJETO GEOM&Eacute;TRICO DE TERRAPLANAGEM (SIMPLIFICADO)</strong></h5>
<p><em><span style="font-weight: 400;">Aplic&aacute;vel em casos cuja movimenta&ccedil;&atilde;o de terra no im&oacute;vel &eacute; inferior a 200 m&sup3;, </span></em><strong><em>sendo</em></strong> <strong><em>dispens&aacute;vel</em></strong><em><span style="font-weight: 400;">, portanto, o licenciamento ambiental, conforme DN CODEMA 02/17, e consequentemente, a apresenta&ccedil;&atilde;o de projeto geom&eacute;trico completo de terraplanagem. Dessa forma, nestes casos, dever&aacute; ser apresentado:</span></em></p>
<p>&nbsp;</p>
<ul>
<li><strong><em><span style="font-weight: 400;">Certid&atilde;o de Registro de Im&oacute;veis (CRI) (validade de 90 dias);</span></em></strong></li>
</ul>
<ul>
<li><span style="font-weight: 400;">Certid&atilde;o Negativa de D&eacute;bitos Municipais do Im&oacute;vel (CND);</span></li>
</ul>
<ul>
<li><span style="font-weight: 400;">Caso o propriet&aacute;rio seja pessoa jur&iacute;dica:</span></li>
</ul>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">&Uacute;ltima altera&ccedil;&atilde;o contratual da empresa (Contrato Social);</span></li>
</ul>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">C&oacute;pia do documento de identifica&ccedil;&atilde;o do propriet&aacute;rio;</span></li>
</ul>
<ul>
<li><span style="font-weight: 400;">ISSQN do(s) respons&aacute;vel(is) t&eacute;cnico(s);</span></li>
</ul>
<ul>
<li><span style="font-weight: 400;">Caso seja necess&aacute;rio transporte de terra para bota-fora ou empr&eacute;stimo de terra:</span></li>
</ul>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">C&oacute;pia do alvar&aacute; do bota-fora; Nos casos em que o bota-fora esteja localizado em outro munic&iacute;pio, apresentar tamb&eacute;m anu&ecirc;ncia da prefeitura informando estar ciente do volume que est&aacute; sendo encaminhado ou retirado do munic&iacute;pio;</span></li>
</ul>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Contrato de presta&ccedil;&atilde;o de servi&ccedil;os com a empresa respons&aacute;vel pelo transporte e destina&ccedil;&atilde;o final dos res&iacute;duos, contendo o volume a ser movimentado e o n&uacute;mero do alvar&aacute; do bota-fora.</span></li>
</ul>
<ul>
<li><em><span style="font-weight: 400;">ART de projeto de terraplanagem (m</span></em><em><span style="font-weight: 400;">3</span></em><em><span style="font-weight: 400;">) e ART de execu&ccedil;&atilde;o de obra /servi&ccedil;o da terraplanagem (m</span></em><em><span style="font-weight: 400;">3</span></em><em><span style="font-weight: 400;">) com as </span></em><em><span style="font-weight: 400;">seguintes atividades t&eacute;cnicas</span></em><span style="font-weight: 400;">:</span></li>
</ul>
<p>&nbsp;</p>
<p><em><span style="font-weight: 400;">1</span></em> <em><span style="font-weight: 400;">- EXECU&Ccedil;&Atilde;O:</span></em></p>
<p>&nbsp;</p>
<ul>
<li style="font-weight: 400;"><em><span style="font-weight: 400;">Projeto, outras finalidades &ndash; Grupo A (civil), terraplanagem (Unidade em m&sup3;) </span></em></li>
</ul>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Execu&ccedil;&atilde;o de obra/servi&ccedil;os, outras finalidades &ndash; Grupo A (civil), terraplanagem (Unidade em m&sup3;).</span></li>
</ul>
<p>&nbsp;</p>
<p><strong><em>*Obs.1: </em></strong><em><span style="font-weight: 400;">Considerar taxa de empolamento de 30%;</span></em></p>
<p><strong><em>**Obs.2: </em></strong><em><span style="font-weight: 400;">Discriminar os volumes de corte e de aterro e a taxa de compacta&ccedil;&atilde;o adotada no campo de </span></em><em><span style="font-weight: 400;">Observa&ccedil;&otilde;es</span></em><em><span style="font-weight: 400;"> da ART.</span></em></p>
<p>&nbsp;</p>
<ul>
<li><strong><em><span style="font-weight: 400;">Memorial de C&aacute;lculo exemplificando de forma clara os procedimentos e t&eacute;cnicas utilizadas para se chegar ao valor do volume de material a ser movimentado.</span></em></strong></li>
</ul>
<p>&nbsp;</p>
<p><strong><em>Para movimentos de terra </em></strong><strong><em>acima</em></strong><strong><em> de </em></strong><strong><em>200m3</em></strong><strong><em>:</em></strong></p>
<h5><strong><em>PROJETO GEOM&Eacute;TRICO DE TERRAPLANAGEM - COMPLETO</em></strong></h5>
<p>&nbsp;</p>
<ul>
<li style="font-weight: 400;"><em><span style="font-weight: 400;">02 c&oacute;pias do projeto geom&eacute;trico completo contendo:</span></em></li>
</ul>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Planta planialtim&eacute;trica com representa&ccedil;&atilde;o do canev&aacute;, orienta&ccedil;&atilde;o, escala num&eacute;rica, edifica&ccedil;&otilde;es existentes no lote, linhas de divisas, confrontantes identificados pelo nome do(s) propriet&aacute;rio(s) e as se&ccedil;&otilde;es transversais estaqueadas ao longo do perfil;</span></li>
</ul>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;"> Curvas de n&iacute;vel cotadas com equidist&acirc;ncia m&aacute;xima de 1,00 metro;</span></li>
</ul>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;"> Perfil longitudinal com a representa&ccedil;&atilde;o dos eixos horizontal/vertical, as cotas de terreno e de greide, estaqueamento e os outros elementos de projeto;</span></li>
</ul>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Se&ccedil;&otilde;es transversais com a representa&ccedil;&atilde;o dos eixos horizontal/vertical, as cotas de terreno e de greide, estaqueamento e os outros elementos de projeto;</span></li>
</ul>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;"> Tabela de balanceamento de corte e aterro, considerando empolamento de 30% </span><span style="font-weight: 400;">e</span> <strong>taxa de</strong> <strong>compacta&ccedil;&atilde;o</strong> <span style="font-weight: 400;">adotada;</span></li>
</ul>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Planta de localiza&ccedil;&atilde;o com o lote amarrado &agrave; esquina mais pr&oacute;xima;</span></li>
</ul>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Quadro de conven&ccedil;&otilde;es e quadro de &aacute;reas;</span></li>
</ul>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Assinatura do(s) propriet&aacute;rio(s) e respons&aacute;vel t&eacute;cnico;</span></li>
</ul>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Projeto geom&eacute;trico completo em formato digital (.dxf).</span></li>
</ul>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Caso seja necess&aacute;rio transporte de terra para bota-fora ou empr&eacute;stimo de terra para o im&oacute;vel:</span></li>
</ul>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">C&oacute;pia do alvar&aacute; do bota-fora. Caso o bota-fora esteja localizado em outro munic&iacute;pio, apresentar tamb&eacute;m anu&ecirc;ncia da prefeitura informando estar ciente do volume que est&aacute; sendo encaminhado ou retirado do munic&iacute;pio;</span></li>
</ul>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Contrato de presta&ccedil;&atilde;o de servi&ccedil;os com a empresa respons&aacute;vel pelo transporte e destina&ccedil;&atilde;o final dos res&iacute;duos, contendo o volume a ser movimentado e o n&uacute;mero do alvar&aacute; do bota-fora.</span></li>
</ul>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Proposi&ccedil;&atilde;o das medidas de conten&ccedil;&atilde;o ou estabiliza&ccedil;&atilde;o de talude acompanhado de Memorial/Laudo e ART;</span></li>
</ul>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">ART do levantamento planialtim&eacute;trico (m</span><span style="font-weight: 400;">2</span><span style="font-weight: 400;">), de projeto de terraplanagem (m</span><span style="font-weight: 400;">3</span><span style="font-weight: 400;">) e de execu&ccedil;&atilde;o de obra /servi&ccedil;o de terraplanagem (m</span><span style="font-weight: 400;">3</span><span style="font-weight: 400;">), com as seguintes atividades t&eacute;cnicas:</span></li>
</ul>
<p>&nbsp;</p>
<p><em><span style="font-weight: 400;">EXECU&Ccedil;&Atilde;O:</span></em></p>
<p>&nbsp;</p>
<ul>
<li style="font-weight: 400;"><em><span style="font-weight: 400;">Coleta de dados, outras finalidades &ndash; Grupo A (civil) para fins planealtimetricos. (Unidade em m&sup2;);</span></em></li>
</ul>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Projeto, outras finalidades &ndash; Grupo A (civil), Terraplanagem (unidade em m&sup3;)</span></li>
</ul>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Execu&ccedil;&atilde;o de obra/servi&ccedil;os, outras finalidades &ndash; Grupo A (civil), terraplanagem. (Unidade em m&sup3;).</span></li>
</ul>
<p>&nbsp;</p>
<p><em><span style="font-weight: 400;">Observa&ccedil;&otilde;es:</span></em></p>
<p><em><span style="font-weight: 400;">Atividades t&eacute;cnicas desenvolvidas pelo mesmo Respons&aacute;vel T&eacute;cnico poder&atilde;o ser descritas na mesma ART;</span></em></p>
<p>&nbsp;</p>
<ul>
<li style="font-weight: 400;"><em><span style="font-weight: 400;">Discriminar os volumes de corte e de aterro e a taxa de compacta&ccedil;&atilde;o adotada no campo de </span><span style="font-weight: 400;">Observa&ccedil;&otilde;es</span><span style="font-weight: 400;"> da ART.</span></em></li>
</ul>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Considera&ccedil;&otilde;es sobre os volumes a serem discriminados nas ART&rsquo;s e no contrato de presta&ccedil;&atilde;o de servi&ccedil;os:</span></li>
</ul>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Caso haja somente corte: </span><span style="font-weight: 400;">ART de projeto</span><span style="font-weight: 400;"> com volume de corte </span><strong>sem</strong><span style="font-weight: 400;"> empolamento, </span><span style="font-weight: 400;">ART de execu&ccedil;&atilde;o</span><span style="font-weight: 400;"> e contrato de presta&ccedil;&atilde;o de servi&ccedil;os com volume de corte </span><strong>com</strong><span style="font-weight: 400;"> empolamento.</span></li>
</ul>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Caso haja somente aterro: </span><span style="font-weight: 400;">ART de projeto</span><span style="font-weight: 400;"> com volume de aterro </span><strong>sem</strong><span style="font-weight: 400;"> compacta&ccedil;&atilde;o, </span><span style="font-weight: 400;">ART de execu&ccedil;&atilde;o</span><span style="font-weight: 400;"> e contrato de presta&ccedil;&atilde;o de servi&ccedil;os com volume de aterro </span><strong>com</strong><span style="font-weight: 400;"> compacta&ccedil;&atilde;o.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Caso haja corte/aterro: </span><span style="font-weight: 400;">ART de projeto</span><span style="font-weight: 400;"> maior valor entre os volumes de corte/aterro </span><strong>sem</strong><span style="font-weight: 400;"> empolamento/compacta&ccedil;&atilde;o, </span><span style="font-weight: 400;">ART de execu&ccedil;&atilde;o</span><span style="font-weight: 400;"> e contrato de presta&ccedil;&atilde;o de servi&ccedil;os com volume balanceado </span><strong>considerando</strong><span style="font-weight: 400;"> empolamento/compacta&ccedil;&atilde;o.</span></li>
</ul>
<p>&nbsp;</p>
<p><em><span style="font-weight: 400;">- Relat&oacute;rio Ambiental Simplificado &ndash; RAS ou Relat&oacute;rio de Controle Ambiental &ndash; RCA e Plano de Controle Ambiental-PCA, variando de acordo com o volume da movimenta&ccedil;&atilde;o de terra.</span></em></p>
<p>&nbsp;</p>
<p><strong><em>PROCEDIMENTOS NECESS&Aacute;RIOS PARA FINS DE LICENCIAMENTO DA CONSTRU&Ccedil;&Atilde;O DE OBRAS DE CONTEN&Ccedil;&Atilde;O:</em></strong></p>
<ul>
<li style="font-weight: 400;"><em><span style="font-weight: 400;">ART de projeto e execu&ccedil;&atilde;o da conten&ccedil;&atilde;o proposta;</span></em></li>
</ul>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Projeto de Conten&ccedil;&atilde;o para o aterro/desaterro proposto, contendo </span><span style="font-weight: 400;">minimamente:</span></li>
</ul>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Implanta&ccedil;&atilde;o, vistas e cortes (com indica&ccedil;&atilde;o do perfil natural do terreno) devidamente cotados e identificados;</span></li>
</ul>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Detalhamento das estruturas, funda&ccedil;&atilde;o e sistemas de drenagem, devidamente cotados e identificados;</span></li>
</ul>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Memorial Descritivo referente &agrave; metodologia de execu&ccedil;&atilde;o da conten&ccedil;&atilde;o proposta e funda&ccedil;&atilde;o para a mesma.</span></li>
</ul>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">OBS: S&atilde;o pass&iacute;veis de licenciamento da constru&ccedil;&atilde;o as estruturas de conten&ccedil;&atilde;o para taludes com desn&iacute;vel de corte/aterro igual ou superior a 03 (tr&ecirc;s) metros, conforme Lei Municipal n&ordm;. 1.420/00, Art. 22, &sect;3&ordm;.</span></li>
</ul>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Em casos de estabiliza&ccedil;&atilde;o do talude por meio de corte, dever&aacute; ser apresentado o laudo de estabilidade do mesmo para a inclina&ccedil;&atilde;o proposta na solu&ccedil;&atilde;o t&eacute;cnica.</span></li>
</ul>
<p>&nbsp;</p>
<p><em><span style="font-weight: 400;">OBS: Para toda movimenta&ccedil;&atilde;o de terra, enviamos os procedimentos para o licenciamento da constru&ccedil;&atilde;o de obras de conten&ccedil;&atilde;o, caso o requerente n&atilde;o necessite realizar, basta apresentar uma justificativa nos casos em que a conten&ccedil;&atilde;o n&atilde;o &eacute; obrigada.</span></em></p>

   
    <br><br>
    <div>
        <a href="{% url 'dados:docconstrucao' %}">
            <button type="button" class="btn btn-danger btn-lg">Voltar</button>
        </a>
    </div>
</div><br>
{% endblock %}
