{% extends 'dados/base.html' %}

{% block content %}

{% block title %}Página Inicial{% endblock %}
<div class="container">
    <br><br><br><br><br>
    <h1 class="text-uppercase mb-0">Não é possível construir no local :(</h1>
    <br>
    <p class="lead">{{value}}</p>
    <br><br><br>
    <div>    
        <a href="{% url 'dados:tela8' %}">
            <button style="background-color: #09735e; border-color: #09735e;" type="button" class="btn btn-primary btn-lg">Continuar</button>
        </a>
        <a href="{% url 'dados:tela3' %}">
            <button style="background-color: #9a3333; border-color: #9a3333;" type="button" class="btn btn-danger btn-lg">Voltar</button>
        </a>
    </div>
</div>

{% endblock %}
