{% extends 'dados/base.html' %}

{% block content %}

{% block title %}Página Inicial{% endblock %}
<div class="container">
    <br><br><br><br><br>
    <h1 class="text-uppercase mb-0">Não é possível contruir no local :(</h1>
    <br>
    <p class="lead">A sua construção possui mais pavimentos do que o exigido pela lei 1420/2000 para a zona que está localizado, o número máximo de pavimentos 
        para essa zona é {{ value }}. Em caso de dúvidas procure o IPLAM para melhores esclarecimentos.</p>
    <br><br><br>
    <div>
        <a href="{% url 'dados:tela3' %}">
            <button type="button" class="btn btn-danger btn-lg">Voltar</button>
        </a>
    </div>
</div>

{% endblock %}
