{% extends 'dados/base.html' %}

{% block content %}

{% block title %}Recicláveis{% endblock %}
<div class="container">
    <br><br><br><br><br>
    <h1 class="text-uppercase mb-0">Recicláveis</h1>
    <br>
    <div class="lead">
        <p align="justify">

                São considerados resíduos recicláveis:
            <ul>
                <li>Papel (folhas de papel, folhetos, revistas, jornais)</li>
                <li>Papelão</li>
                <li>Isopor</li>
                <li>Plásticos (sacos de supermercado, plástico filme, garrafas PET, potes, frascos em geral, baldes, PVC)</li>
                <li>Embalagens Longa Vida (caixas de suco, leite e outras bebidas)</li>
                <li>Latas de alumínio e alumínio em geral</li>
                <li>Vidros</li>
            </ul>
            
            <b>ATENÇÃO:</b> O guardanapo, papel toalha e papel higiênico não são recicláveis por isso se enquadram na categoria de rejeitos! 
        </p>
        <p align="justify">
                <b>DESTINAÇÃO ADEQUADA:</b><br>
                Viçosa possui duas associações de catadores de resíduos recicláveis que obtêm sua renda dos recicláveis recolhidos diariamente, por isso é muito importante a contribuição de todos os cidadãos para que possam melhorar a renda, o trabalho e a qualidade de vida desses profissionais. 
                Através da triagem feita pelos catadores os resíduos podem ser reciclados, ou seja, retornar para a cadeia produtiva e ser transformar em novos produtos. Esse ciclo da reciclagem diminui a geração de lixo e a necessidade do uso de recursos naturais para confecção de produtos novos.
                <br><br>
                Para participar da coleta seletiva é preciso realizar a separação dos recicláveis no local de geração, ou seja, nas residências, por isso é indicado uma lixeira apenas para esse tipo de resíduo. 
                Atualmente não existem pontos de coletas definidos na cidade, sendo assim é preciso entregar os recicláveis na sede das associações:
                <br><br>
                <b>Associação dos Trabalhadores da Usina de Triagem e Reciclagem de Viçosa (ACAMARE)</b>
                Localização: Usina de Triagem e Reciclagem de Viçosa, próximo ao trevo de São José do Triunfo (Fundão)
                <br><br>
                <b>Associação dos Catadores de Materiais Recicláveis de Viçosa (ACAT)</b>
                Localização: galpão da Sociedade São Vicente de Paula, no final da rua Santana – Centro.
                <br><br>
                O SAAE nos últimos meses está firmando uma parceria com as associações com o intuito de realizar a coleta seletiva em toda a cidade, facilitando assim a reciclagem para os moradores de Viçosa o trabalho das associações, por isso fique atento para mais notícias!
                <br>
        </p>
    </div>
    <br><br>
    <div>
        <a href="{% url 'dados:tela15' %}">
            <button type="button" class="btn btn-danger btn-lg">Voltar</button>
        </a>
    </div>
    <br><br>
</div>

{% endblock %}
