{% extends 'dados/base.html' %}

{% block content %}

{% block title %}Sobre{% endblock %}
   
<div class="container">
    <br><br><br><br><br><br>
        
    <p class="lead" align="justify">O Regulariza Viçosa é um programa feito para orientar a regularização das construções residenciais na cidade de Viçosa-MG. O objetivo é tornar as leis de uso e ocupação do solo mais acessíveis a todos, melhorar a fiscalização e auxiliar àqueles que querem construir ou regularizar sua residência, prédio, condomínio ou loteamento residencial de forma adequada e rápida. Fornece também todas as informações referentes ao saneamento para a localidade da construção, além de oferecer várias dicas da área ambiental para aumentar a sustentabilidade do local.</p>
    <p class="lead" align="justify">Para saber o que é preciso para sua residência se tornar regularizada ou obter maiores informações sobre como torna-la mais sustentável clique em iniciar e insira as suas informações!</p>
    <p class="lead" align="justify">ATENÇÃO! O regulariza Viçosa é um programa apenas de ORIENTAÇÃO, toda a regularização é feita com a prefeitura, IPLAM ou órgão competente indicado no programa.</p>
{% endblock %}
