{% extends 'dados/base.html' %}

{% block content %}

{% block title %}Construção de prédio{% endblock %}

<!-- Form Grid Section -->
<section class="portfolio" id="portfolio">
    <div class="container">
        <br/><br/>
        <form class="row">                
            <div class="form-group col-md-4 col-md-6 pt-2 pb-2">
                <label for="inputAddress">Insira a área (em planta) do lote</label>
                <input type="number" class="form-control" id="inputAddress" placeholder="1">
            </div>
        </form>

        <br/><br/>
        <a href="{% url 'dados:tela9' %}">
            <button type="button" class="btn btn-primary btn-lg">Continuar</button>
        </a>            
        <a href="{% url 'dados:tela4' %}">
            <button type="button" class="btn btn-danger btn-lg">Voltar</button>
        </a>
        
    </div>
</section>

{% endblock %} 