{% extends 'dados/base.html' %}

{% block content %}

{% block title %}Tratamentos{% endblock %}
  
<!-- Option Grid Section -->
<section class="portfolio" id="portfolio">
    <div class="container">
        <br/><br/>
        <h1 class="js-scroll-trigger text-center">Escolha uma opção</h1>
        <br/><br/>
        <form class="row">
        <div class="col-md-6 pt-2 pb-2">
            <a href="{% url 'dados:tela17' %}">
                <button type="button" class="btn btn-secondary btn-lg btn-block">Tanque séptico + Filtro</button>  
            </a>
        </div>
        <div class="col-md-6 pt-2 pb-2">
            <a href="{% url 'dados:tela16' %}">
                <button type="button" class="btn btn-secondary btn-lg btn-block">Wetlands/Jardins Filtrantes</button>
            </a>
        </div> 
        <div class="col-md-6 pt-2 pb-2">
            <a href="{% url 'dados:tela5' %}">
                <button type="button" class="btn btn-secondary btn-lg btn-block">Tanque de Evapotranspiração</button>  
            </a>
        </div>
        <div class="col-md-6 pt-2 pb-2">
            <a href="{% url 'dados:tela16' %}">
                <button type="button" class="btn btn-secondary btn-lg btn-block">Fossas Biodigestoras</button>
            </a>
        </div>                
        </form>
        <br/><br/>  
        <a href="{% url 'dados:tela8' %}">
            <button type="button" class="btn btn-danger btn-lg">Voltar</button>
        </a>        
    </div>
</section>

{% endblock %} 