{% extends 'dados/base.html' %}

{% block content %}

{% block title %}Tratamentos{% endblock %}
  
<!-- Option Grid Section -->
<section class="portfolio" id="portfolio">
    <div class="container">
    <br/><br/>
    <h1 class="js-scroll-trigger text-center">Gerenciamento de resíduos sólidos</h1>
    
    <br/>
    <form class="row">
    <div class="col-md-4 pt-2 pb-2">
        <a href="{% url 'dados:reciclaveis' %}">
            <button type="button" class="btn btn-secondary btn-lg btn-block">Recicláveis</button>  
        </a>
    </div>                     
    <div class="col-md-4 pt-2 pb-2">
        <a href="{% url 'dados:organicos' %}">
            <button type="button" class="btn btn-secondary btn-lg btn-block">Orgânicos</button>  
        </a>
    </div>
    <div class="col-md-4 pt-2 pb-2">
        <a href="{% url 'dados:rejeitos' %}">
            <button type="button" class="btn btn-secondary btn-lg btn-block">Rejeitos</button>  
        </a>
    </div>                     
    </form>
    
    <br/><br/>  
    <a href="{% url 'dados:tela8' %}">
        <button type="button" class="btn btn-danger btn-lg">Voltar</button>
    </a>        
    </div>
</section>

{% endblock %} 