{% extends 'dados/base.html' %}

{% block content %}

{% block title %}Tratamentos{% endblock %}
  
<!-- Option Grid Section -->
<section class="portfolio" id="portfolio">
        <div class="container">
        <br/>
        <p class="lead">Existem diversas formas de tratar o esgoto doméstico dentro da sua casa, 
        prédio ou condomínio, abaixo algumas formas de tratamento que podem ser 
        utilizadas e seus requisitos básicos de área!</p>
        <p class="lead">O esgoto doméstico pode ser dividido também pela sua geração como águas 
        cinzas e águas escuras. As águas cinzas são aquelas com pouca carga orgânica 
        como a água da pia e dos tanques. A água escura é aquela proveniente do vaso
        sanitário. É interessante realizar a separação das águas na encanação pois 
        as águas cinzas podem ser tratadas de formas mais simples e assim serem 
        reutilizadas posteriormente.</p>
        <p class="lead">Atenção! Lembre-se que antes de qualquer tratamento é necessária uma caixa de 
        gordura para o esgoto gerado na pia da cozinha!</p>

        <h3 class="js-scroll-trigger text-center">Escolha uma opção</h1>
        <br/><br/>
        <form class="row">
        <div class="col-md-6 pt-2 pb-2">
            <a href="{% url 'dados:tela17' %}">
                <button type="button" class="btn btn-secondary btn-lg btn-block">Tanque Séptico + Filtro Anaeróbio </button>  
            </a>
        </div>
        <div class="col-md-6 pt-2 pb-2">
            <a href="{% url 'dados:wetlands_2' %}">
                <button type="button" class="btn btn-secondary btn-lg btn-block">Jardins Filtrantes / Wetlands</button>
            </a>
        </div> 
        <div class="col-md-6 pt-2 pb-2">
            <a href="{% url 'dados:tanque_evapo' %}">
                <button type="button" class="btn btn-secondary btn-lg btn-block">Tanque de Evapotranspiração</button>  
            </a>
        </div>
        <div class="col-md-6 pt-2 pb-2">
            <a href="{% url 'dados:biodigestores' %}">
                <button type="button" class="btn btn-secondary btn-lg btn-block">Fossas Biodigestoras</button>
            </a>
        </div>                
        </form>
        <br/><br/>  
        <a href="{% url 'dados:tela13' %}">
            <button type="button" class="btn btn-danger btn-lg">Voltar</button>
        </a>        
    </div>
</section>

{% endblock %} 