{% extends 'dados/base.html' %}

{% block content %}

{% block title %}Tratamentos{% endblock %}
  
<!-- Option Grid Section -->
<section class="portfolio" id="portfolio">
        <div class="container">

        <h3 class="js-scroll-trigger text-left"><strong>Por que é importante realizar o tratamento do esgoto 
            doméstico?</strong></h3> <br>
            <p class="lead">O esgoto doméstico é uma das principais causas da poluição dos rios, 
        córregos e mananciais na cidade de Viçosa e em todo o país! Ele contamina
        as águas gerando diversos problemas para o meio ambiente e a sociedade.
        O rio em que lançamos o esgoto é o mesmo que captamos a água que utilizamos
        no nosso dia-a-dia, por isso é muito importante que ela esteja em uma 
        qualidade boa e assim não cause doenças. Além dos rios muitas vezes o 
        esgoto é lançado diretamente no solo, o que também é prejudicial para todos,
        pois além de poluir o solo o esgoto irá infiltrar até chegar no lençol 
        freático, as águas subterrâneas, que posteriormente serão irão aflorar no
        solo e chegar aos rios, gerando novamente muitos problemas. </p>
        <p class="lead">Existem diversas formas de tratar o esgoto doméstico dentro da sua casa, 
        prédio ou condomínio, abaixo algumas formas de tratamento que podem ser 
        utilizadas e seus requisitos básicos de área!</p>
        <p class="lead">O esgoto doméstico pode ser dividido também pela sua geração como águas 
        cinzas e águas escuras. As águas cinzas são aquelas com pouca carga orgânica 
        como a água da pia e dos tanques. A água escura é aquela proveniente do vaso
        sanitário. É interessante realizar a separação das águas na encanação pois 
        as águas cinzas podem ser tratadas de formas mais simples e assim serem 
        reutilizadas posteriormente.</p>
        <p class="lead">Atenção! Lembre-se que antes de qualquer tratamento é necessária uma caixa de 
        gordura para o esgoto gerado na pia da cozinha!</p>

        <h3 class="js-scroll-trigger text-center">Escolha uma opção</h1>
        <br/><br/>
        <form class="row">
        <div class="col-md-6 pt-2 pb-2">
            <a href="{% url 'dados:tela17' %}">
                <button type="button" class="btn btn-secondary btn-lg btn-block">Tanque séptico + Filtro / Wetlands</button>  
            </a>
        </div>
        <div class="col-md-6 pt-2 pb-2">
            <a href="{% url 'dados:wetlands_2' %}">
                <button type="button" class="btn btn-secondary btn-lg btn-block">Jardins Filtrantes / Wetlands</button>
            </a>
        </div> 
        <div class="col-md-6 pt-2 pb-2">
            <a href="{% url 'dados:tanque_evapo' %}">
                <button type="button" class="btn btn-secondary btn-lg btn-block">Tanque de Evapotranspiração</button>  
            </a>
        </div>
        <div class="col-md-6 pt-2 pb-2">
            <a href="{% url 'dados:biodigestores' %}">
                <button type="button" class="btn btn-secondary btn-lg btn-block">Fossas Biodigestoras</button>
            </a>
        </div>                
        </form>
        <br/><br/>  
        <a href="{% url 'dados:tela8' %}">
            <button type="button" class="btn btn-danger btn-lg">Voltar</button>
        </a>        
    </div>
</section>

{% endblock %} 