{% extends 'dados/base.html' %}

{% block content %}

{% block title %}Construção de prédio{% endblock %}
<style>
attrs={'style': 'width:10px'}
</style>
<!-- Grid Section -->
<section class="predio" id="predio">
    <br>
    <div class=" container text-left">
        <p onClick="maisZRU()" class="btn btn-success">Aviso para zonas rurais</p>
    </div>            
    <div class="container">
    
    <h1 class="js-scroll-trigger text-center">Prédio</h1>
    <br><br>
    <form class="row" action="/tela4/" method="post">
    
        <div class="form-group col-md-4 col-md-3 pt-2 pb-2">
            <label for="{{form.Bairro}}">Bairro</label><br>
            {% csrf_token %}
            {{ form.bairro }}            
        </div>
        <div class="form-group col-md-4 col-md-3 pt-2 pb-2">
            <label for="{{form.Logradouro}}">Logradouro</label><br>
            {% csrf_token %}
            {{ form.logradouro }}            
        </div>
        <div class="form-group col-md-4 col-md-3 pt-2 pb-2">
            <label for="{{form.Nome}}">Nome</label><br>
            {% csrf_token %}
            {{ form.nome }}            
        </div>        
        <div class="form-group col-md-2 col-md-3 pt-2 pb-2">
            <label for="{{form.Area}}">Área total do lote (m<sup>2</sup>)</label><br>
            {% csrf_token %}
            {{ form.area }}
        </div>
        <div class="form-group col-md-2 col-md-3 pt-2 pb-2">
            <label for="{{form.Area}}">Área construída em planta (m<sup>2</sup>)</label><br>
            {% csrf_token %}
            {{ form.area_planta }}
        </div>
        <div class="form-group col-md-2 col-md-3 pt-2 pb-2">
            <label for="{{form.Num_pav}}"> Número de pavimentos</label><br>
            {% csrf_token %}
            {{form.num_pav}}
        </div>
        <div class="form-group col-md-2 col-md-3 pt-2 pb-2">
            <label for="{{form.Num_pessoas}}"> Número de pessoas no prédio</label><br>
            {% csrf_token %}
            {{form.num_pessoas}}
        </div>
        <br><br>
        <div>
            <button type="submit" class="btn btn-primary btn-lg">Continuar</button>
        </div>
        <div>
        <a href="{% url 'dados:tela3' %}">
            <button type="button" class="btn btn-danger btn-lg">Voltar</button>
        </a>
        </div>        
    </form>
    <br/><br>
  
  </div>
</section>

{% endblock %}