{% extends 'dados/base.html' %}

{% block content %}
    
<body id="page-top">

    <!-- Form Grid Section -->
    <section class="portfolio" id="portfolio">
    <div class="container">
        <br/><br/>
        <form class="row" action="/tela2/" method="post">
            
            <div class="form-group col-md-4 col-md-6 pt-2 pb-2">
                <label for="{{form.Bairro}}">Bairro</label><br>
                {% csrf_token %}
                {{ form.bairro }}            
            </div>
            <div class="form-group col-md-4 col-md-6 pt-2 pb-2">
                <label for="{{form.Nome}}">Rua</label><br>
                {% csrf_token %}
                {{ form.nome }}            
            </div>
            <div class="form-group col-md-4 col-md-6 pt-2 pb-2">
                <label for="{{form.Area}}">Area do Lote</label><br>
                {% csrf_token %}
                {{ form.area }} 

            </div>
            <div>
                <button type="submit" class="btn btn-primary btn-lg">Continuar</button>
            </div>
            <div>
            <a href="{% url 'dados:index' %}">
                <button type="button" class="btn btn-danger btn-lg">Voltar</button>
            </a>
            </div>
        </form>
       
        
    </div>
    </section>
    
</body>

{% endblock %}
