{% extends 'dados/base.html' %}

{% block content %}

{% block title %}Tratamentos{% endblock %}
  
<!-- Option Grid Section -->
<section class="portfolio" id="portfolio">
    <div class="container">
    <br/><br/>
    <h1 class="js-scroll-trigger text-center">Gerenciamento de resíduos sólidos</h1>

    <br/>
    <div align="justify">
        <p class="lead">
            O lixo gerado diariamente nas residências pode ser chamado na verdade de resíduo sólido, pois boa parte do que é gerado são resíduos ou sub-produtos com potencial para serem transformados e reaproveitados, se corretamente destinados e pouco realmente é inutilizado. Nas residências diariamente são gerados resíduos recicláveis, orgânicos e rejeitos. Cada um destes possui uma destinação adequada para que não prejudique o meio ambiente e a saúde humana. Clique nas opções abaixo para saber mais sobre cada um deles e sua destinação adequada:
        </p>
    </div>
    
    <br/>
    <form class="row">
    <div class="col-md-4 pt-2 pb-2">
        <a href="{% url 'dados:reciclaveis' %}">
            <button type="button" class="btn btn-secondary btn-lg btn-block">Recicláveis</button>  
        </a>
    </div>                     
    <div class="col-md-4 pt-2 pb-2">
        <a href="{% url 'dados:organicos' %}">
            <button type="button" class="btn btn-secondary btn-lg btn-block">Orgânicos</button>  
        </a>
    </div>
    <div class="col-md-4 pt-2 pb-2">
        <a href="{% url 'dados:rejeitos' %}">
            <button type="button" class="btn btn-secondary btn-lg btn-block">Rejeitos</button>  
        </a>
    </div>                     
    </form>
    
    <br/><br/>  
    {% if l != "ZR" %}
    <a href="{% url 'dados:tela8' %}">
        <button type="button" class="btn btn-danger btn-lg">Voltar</button>
    </a>
    {% else %}
    <a href="{% url 'dados:tela8_1' %}">
        <button type="button" class="btn btn-danger btn-lg">Voltar</button>
    </a>
    {% endif %}        
    </div>
</section>

{% endblock %} 