{% extends 'dados/base.html' %}

{% block content %}

{% block title %}O que desejo construir{% endblock %}

<!-- Option Grid Section -->
<section class="portfolio" id="portfolio">
    <div class="container">
        <br/><br/>
        <h1 class="js-scroll-trigger text-center">Desejo contruir</h1>
        <br/><br/>
        <form class="row">
            <div class="col-md-4 pt-2 pb-2">
                <a href="{% url 'dados:tela4' %}">
                    <button type="button" class="btn btn-secondary btn-lg btn-block">Prédios</button>  
                </a>
            </div>
            <div class="col-md-4 pt-2 pb-2">
                <a href="{% url 'dados:tela5' %}">
                    <button type="button" class="btn btn-secondary btn-lg btn-block">Casas</button>
                </a>
            </div>
            <div class="col-md-4 pt-2 pb-2">
                <a href="{% url 'dados:tela6' %}">
                    <button type="button" class="btn btn-secondary btn-lg btn-block">Condomínios</button>
                </a>
            </div>                          
        </form>
        <br/><br/>  
        <a href="{% url 'dados:index' %}">
            <button type="button" class="btn btn-danger btn-lg">Voltar</button>
        </a>        
    </div>

</section>

{% endblock %}